<?php  $this->load->view('admin/header.html')?>
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">iamhack后台管理中心<b>></b><strong>文章分类</strong></div>
    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="<?php echo site_url('admin/category/add_category')?>" class="actionBtn add">添加分类</a>文章分类</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <th width="120" align="left">分类名称</th>
                <th align="left">别名</th>
                <th align="left">简单描述</th>
                <th width="60" align="center">排序</th>
                <th width="80" align="center">操作</th>
            </tr>
            <?php foreach ($category_list as $v): ?>
            <tr>
                <td align="left"><a href="#"><?php echo $v['cate_name']?></a></td>
                <td><?php echo $v['cate_alias'] ?></td>
                <td><?php echo $v['cate_describe'] ?></td>
                <td align="center"><?php echo $v['id']?></td>
                <td align="center"><a
                        href="<?php echo site_url('admin/category/con_edit_category/' . $v['id']) ?>">编辑</a> | <a
                        href="<?php echo site_url('admin/category/del_category/' . $v['id']) ?>">删除</a></td>
            </tr>
            <?php endforeach ?>
        </table>
    </div>
</div>
<div class="clear"></div>

<?php  $this->load->view('admin/footer.html')?>