<?php  $this->load->view('admin/header.html')?>
<div id="dcMain">
    <!-- 当前位置 -->
    <div id="urHere">iamhack后台管理中心<b>></b><strong>编辑分类</strong></div>
    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="article_category.html" class="actionBtn">文章分类</a>编辑分类</h3>
        <form action="<?php  echo site_url('admin/category/con_update_category')?>" method="post">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <td width="80" align="right">分类名称</td>
                    <?php foreach ($category as $v): ?>
                    <td>
                        <input type="text" name="cat_name" value="<?php echo $v['cate_name'] ?>" size="40"
                               class="inpMain"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">别名</td>
                    <td>
                        <input type="text" name="unique_id" value="<?php echo $v['cate_alias']?>" size="40"
                               class="inpMain"/>
                    </td>
                </tr>
                <tr>
                    <td align="right">上级分类</td>
                    <td>
                        <select name="parent_id">
                            <option value="0">无</option>
                            <option value="1"><?php echo $v['cate_super'] ?></option>

                        </select>
                    </td>
                </tr>

                <tr>
                    <td align="right">关键字</td>
                    <td>
                        <input type="text" name="keywords" value="<?php echo $v['cate_key']?>" size="40"
                               class="inpMain"/>
                    </td>
                </tr>

                <tr>
                    <td align="right">简单描述</td>
                    <td>
                        <textarea name="description" cols="60" rows="4"
                                  class="textArea"><?php echo $v['cate_describe']?></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right">排序</td>
                    <td>
                        <input type="text" name="sort" value="50" size="5" class="inpMain"/>
                        <input type="hidden" name="cid" value="<?php echo $v['id'] ?>">
                    </td>
                </tr>
                <?php endforeach ?>
                <tr>
                    <td></td>
                    <td>
                        <input type="hidden" name="token" value="25bfda40"/>
                        <input type="hidden" name="cat_id" value=""/>
                        <input name="submit" class="btn" type="submit" value="修改"/>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="clear"></div>
<?php  $this->load->view('admin/footer.html')?>